DATABASE_URL="file:./dev.db"
PORT=3000
JWT_SECRET="your_jwt_secret_here"
REFRESH_SECRET="your_refresh_secret_here"

# Firebase Admin SDK Credentials (Optional, leave empty to disable Firebase Firestore Sync)
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
